In [1]:
import numpy as np
import pandas as pd
import tensorflow
import keras

Using TensorFlow backend.

In [3]:
df = pd.read_csv('centrais.csv')
df

,timestamp,YAMBUKWF,YSWF1,WAUBRAWF,SALTCRK1,PORTWF,OAKLAND1,MTGELWF1,MLWF1,MERCER01,...,CAPTL_WF,CROOKWF2,CULLRGWF,GULLRWF1,GUNNING1,SAPHWF1,STWF1,TARALGA1,WOODLWN1,WRWF1
0,2018-01-01T00:00+10:00,2.3,0.0,69.950,NaN,76.0,14.4,NaN,1.140,-0.111,...,0.0,NaN,0.00,0.000,-0.288,0.000,NaN,19.181,0.0,75.509
1,2018-01-01T00:05+10:00,2.5,0.0,73.795,NaN,70.6,13.4,NaN,1.170,-0.087,...,0.0,NaN,-0.02,0.000,-0.332,0.000,NaN,19.350,0.0,76.770
2,2018-01-01T00:10+10:00,2.7,0.0,66.958,NaN,66.8,13.8,NaN,1.725,-0.018,...,0.0,NaN,-0.04,0.000,-0.327,0.000,NaN,20.340,0.0,69.226
3,2018-01-01T00:15+10:00,2.7,0.0,65.716,NaN,61.3,12.8,NaN,1.530,0.036,...,0.0,NaN,0.00,0.000,-0.327,0.000,NaN,19.935,0.0,63.664
4,2018-01-01T00:20+10:00,3.3,0.0,58.506,NaN,60.7,10.5,NaN,2.400,0.255,...,0.0,NaN,-0.08,0.000,-0.336,0.000,NaN,18.971,0.0,56.761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105115,2018-12-31T23:35+10:00,NaN,0.0,50.106,1.60,-0.4,3.0,12.696,0.900,21.038,...,0.0,0.0,1.49,1.454,-0.102,63.525,44.190,0.960,0.0,16.731
105116,2018-12-31T23:40+10:00,NaN,0.0,48.241,1.79,-0.4,3.0,11.512,0.900,25.211,...,0.0,0.0,1.65,1.608,-0.414,54.066,47.182,0.000,0.0,15.484
105117,2018-12-31T23:45+10:00,-0.2,0.0,46.897,1.39,-0.4,2.5,7.642,0.795,24.274,...,0.0,0.0,1.44,1.720,-0.533,43.163,46.597,0.416,0.0,13.660
105118,2018-12-31T23:50+10:00,-0.2,0.0,43.039,1.04,-0.4,1.8,4.822,0.795,27.496,...,0.0,0.0,1.34,2.140,-0.488,38.222,52.222,1.714,0.0,14.342
105119,2018-12-31T23:55+10:00,-0.2,0.0,39.976,0.84,-0.4,2.1,4.422,0.690,27.117,...,0.0,0.0,1.19,1.935,-0.292,39.956,46.597,5.044,0.0,14.990